# Pandas Library
### Pandas abbreviation: "Panel Data"
Pandas is an open-source Python library that provides data manipulation and analysis tools. It is built on top of the NumPy library and is widely used for data science and machine learning tasks. Pandas offers data structures like Series (1D) and DataFrame (2D) that make it easy to work with structured data. It provides functionalities for data cleaning, transformation, aggregation, and visualization, making it a powerful tool for handling and analyzing large datasets efficiently.

In [ ]:
# Define pandas library
# pandas is a powerful data manipulation and analysis library for Python. 
# It provides data structures like DataFrames and Series that make it easy to work with structured data.
# it can be used for data cleaning, transformation, and analysis tasks and also for data visualization.
# To use pandas in your Python code, you typically import it as follows:
# import pandas as pd
# installation: pip install pandas
# installation: pip install numpy

In [18]:
# import necessary libraries
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.3.3'

In [6]:
# read data from a CSV file
# you can also read sheets from excel files using pd.read_excel() function
df = pd.read_csv('sub-division_population_of_pakistan.csv')

In [8]:
# write data to a excel file
# for this you need to have openpyxl library installed
df.to_excel('Population_Pakistan.xlsx')

## Pandas Tips

In [9]:
# print data in terminal
print(df)

     PROVINCE                   DIVISION                   DISTRICT  \
0      PUNJAB        BAHAWALPUR DIVISION      BAHAWALNAGAR DISTRICT
1      PUNJAB        BAHAWALPUR DIVISION      BAHAWALNAGAR DISTRICT
2      PUNJAB        BAHAWALPUR DIVISION      BAHAWALNAGAR DISTRICT
3      PUNJAB        BAHAWALPUR DIVISION      BAHAWALNAGAR DISTRICT
4      PUNJAB        BAHAWALPUR DIVISION      BAHAWALNAGAR DISTRICT
..        ...                        ...                        ...
523  KPK/FATA  DERA ISMAIL KHAN DIVISION  SOUTH WAZIRISTAN DISTRICT
524  KPK/FATA  DERA ISMAIL KHAN DIVISION  SOUTH WAZIRISTAN DISTRICT
525  KPK/FATA  DERA ISMAIL KHAN DIVISION  SOUTH WAZIRISTAN DISTRICT
526  KPK/FATA  DERA ISMAIL KHAN DIVISION  SOUTH WAZIRISTAN DISTRICT
527  KPK/FATA  DERA ISMAIL KHAN DIVISION  SOUTH WAZIRISTAN DISTRICT

            SUB DIVISION  AREA (sq.km)  ALL SEXES (RURAL)  MALE (RURAL)  \
0    BAHAWALNAGAR TEHSIL        1729.0             619550        316864
1       CHISHTIAN TEHSIL        1500.0             540342        273788
2      FORT ABBAS TEHSIL        2536.0             361240        182655
3      HAROONABAD TEHSIL        1295.0             382115        192278
4     MINCHINABAD TEHSIL        1818.0             452723        231506
..                   ...           ...                ...           ...
523     SARAROGHA TEHSIL         813.0              98180         51479
524      SERWEKAI TEHSIL         398.0              54540         28695
525        TIARZA TEHSIL         734.0              45156         23649
526    TOI KHULLA TEHSIL         567.0              50413         27462
527          WANA TEHSIL        2315.0             153156         81342

     FEMALE (RURAL)  TRANSGENDER (RURAL)  SEX RATIO (RURAL)  ...  \
0            302644                   42             104.70  ...
1            266500                   54             102.73  ...
2            178541                   44             102.30  ...
3            189808                   29             101.30  ...
4            221178                   39             104.67  ...
..              ...                  ...                ...  ...
523           46694                    7             110.25  ...
524           25844                    1             111.03  ...
525           21507                    0             109.96  ...
526           22947                    4             119.68  ...
527           71796                   18             113.30  ...

     POPULATION 1998 (RURAL)  ANNUAL GROWTH RATE (RURAL)  ALL SEXES (URBAN)  \
0                     407768                        2.22             193840
1                     395983                        1.65             149424
2                     250959                        1.93              61528
3                     297343                        1.33             142600
4                     316593                        1.90              72294
..                       ...                         ...                ...
523                    72063                        1.64                  0
524                    31472                        2.93                  0
525                    37708                        0.95                  0
526                    36508                        1.71                  0
527                    90772                        2.79                  0

     MALE (URBAN)  FEMALE (URBAN)  TRANSGENDER (URBAN)  SEX RATIO (URBAN)  \
0           98391           95402                   47             103.13
1           75546           73851                   27             102.30
2           31360           30150                   18             104.01
3           71345           71236                   19             100.15
4           36694           35590                   10             103.10
..            ...             ...                  ...                ...
523             0               0                    0               0.00
524             0               0                    0               0.00
525             0               0                    0               0.00
526             0               0                    0               0.00
527             0               0                    0               0.00

     AVG HOUSEHOLD SIZE (URBAN)  POPULATION 1998 (URBAN)  \
0                          6.02                   133785
1                          6.01                   102287
2                          6.00                    34637
3                          6.02                    84424
4                          6.34                    37668
..                          ...                      ...
523                        0.00                        0
524                        0.00                        0
525                        0.00                        0
526                        0.00                        0
527                        0.00                        0

     ANNUAL GROWTH RATE (URBAN)
0                          1.97
1                          2.01
2                          3.06
3                          2.79
4                          3.48
..                          ...
523                        0.00
524                        0.00
525                        0.00
526                        0.00
527                        0.00

[528 rows x 21 columns]

In [10]:
# how the data looks like
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528 entries, 0 to 527
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PROVINCE                    528 non-null    object
 1   DIVISION                    528 non-null    object
 2   DISTRICT                    528 non-null    object
 3   SUB DIVISION                528 non-null    object
 4   AREA (sq.km)                528 non-null    float64
 5   ALL SEXES (RURAL)           528 non-null    int64
 6   MALE (RURAL)                528 non-null    int64
 7   FEMALE (RURAL)              528 non-null    int64
 8   TRANSGENDER (RURAL)         528 non-null    int64
 9   SEX RATIO (RURAL)           528 non-null    float64
 10  AVG HOUSEHOLD SIZE (RURAL)  528 non-null    float64
 11  POPULATION 1998 (RURAL)     528 non-null    int64
 12  ANNUAL GROWTH RATE (RURAL)  528 non-null    float64
 13  ALL SEXES (URBAN)           528 non-null    int64
 14  MALE (URBAN)                528 non-null    int64
 15  FEMALE (URBAN)              528 non-null    int64
 16  TRANSGENDER (URBAN)         528 non-null    int64
 17  SEX RATIO (URBAN)           528 non-null    float64
 18  AVG HOUSEHOLD SIZE (URBAN)  528 non-null    float64
 19  POPULATION 1998 (URBAN)     528 non-null    int64
 20  ANNUAL GROWTH RATE (URBAN)  528 non-null    float64
dtypes: float64(7), int64(10), object(4)
memory usage: 86.8+ KB

### What is the difference between rows and columns in Data Science?
- Rows represent individual records or observations in a dataset, while columns represent attributes or features of those records.
- Rows are horizontal and contain data for a single entity, while columns are vertical and contain data for a specific attribute across all entities.
- In data analysis, rows are often used to analyze individual data points, while columns are used to analyze trends and patterns across different attributes.
- Understanding the distinction between rows and columns is crucial for effective data manipulation, analysis, and visualization in data science.
- ### Different names of rows and columns in different contexts:
  - In a spreadsheet application like Microsoft Excel or Google Sheets, rows are typically referred to by numbers (1, 2, 3, etc.), while columns are referred to by letters (A, B, C, etc.).
  - In a database table, rows are often called records or tuples, while columns are referred to as fields or attributes.
  - In programming languages like Python or R, rows and columns may be referred to as indices and variables, respectively.
  - In data visualization tools like Tableau or Power BI, rows and columns may be referred to as dimensions and measures, respectively.
  - In statistical analysis software like SPSS or SAS, rows and columns may be referred to as cases and variables, respectively.

In [12]:
# dtypes of each column tells about data type of each column
df.dtypes

PROVINCE                       object
DIVISION                       object
DISTRICT                       object
SUB DIVISION                   object
AREA (sq.km)                  float64
ALL SEXES (RURAL)               int64
MALE (RURAL)                    int64
FEMALE (RURAL)                  int64
TRANSGENDER (RURAL)             int64
SEX RATIO (RURAL)             float64
AVG HOUSEHOLD SIZE (RURAL)    float64
POPULATION 1998 (RURAL)         int64
ANNUAL GROWTH RATE (RURAL)    float64
ALL SEXES (URBAN)               int64
MALE (URBAN)                    int64
FEMALE (URBAN)                  int64
TRANSGENDER (URBAN)             int64
SEX RATIO (URBAN)             float64
AVG HOUSEHOLD SIZE (URBAN)    float64
POPULATION 1998 (URBAN)         int64
ANNUAL GROWTH RATE (URBAN)    float64
dtype: object

In [15]:
# head() function shows first 5 rows of the dataframe
# you can also specify number of rows to show by passing an integer value to head() function
df.head(2)

,PROVINCE,DIVISION,DISTRICT,SUB DIVISION,AREA (sq.km),ALL SEXES (RURAL),MALE (RURAL),FEMALE (RURAL),TRANSGENDER (RURAL),SEX RATIO (RURAL),...,POPULATION 1998 (RURAL),ANNUAL GROWTH RATE (RURAL),ALL SEXES (URBAN),MALE (URBAN),FEMALE (URBAN),TRANSGENDER (URBAN),SEX RATIO (URBAN),AVG HOUSEHOLD SIZE (URBAN),POPULATION 1998 (URBAN),ANNUAL GROWTH RATE (URBAN)
0,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,BAHAWALNAGAR TEHSIL,1729.0,619550,316864,302644,42,104.70,...,407768,2.22,193840,98391,95402,47,103.13,6.02,133785,1.97
1,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,CHISHTIAN TEHSIL,1500.0,540342,273788,266500,54,102.73,...,395983,1.65,149424,75546,73851,27,102.30,6.01,102287,2.01

In [16]:
# tail() function shows last 5 rows of the dataframe
# you can also specify number of rows to show by passing an integer value to tail() function
df.tail(3)

,PROVINCE,DIVISION,DISTRICT,SUB DIVISION,AREA (sq.km),ALL SEXES (RURAL),MALE (RURAL),FEMALE (RURAL),TRANSGENDER (RURAL),SEX RATIO (RURAL),...,POPULATION 1998 (RURAL),ANNUAL GROWTH RATE (RURAL),ALL SEXES (URBAN),MALE (URBAN),FEMALE (URBAN),TRANSGENDER (URBAN),SEX RATIO (URBAN),AVG HOUSEHOLD SIZE (URBAN),POPULATION 1998 (URBAN),ANNUAL GROWTH RATE (URBAN)
525,KPK/FATA,DERA ISMAIL KHAN DIVISION,SOUTH WAZIRISTAN DISTRICT,TIARZA TEHSIL,734.0,45156,23649,21507,0,109.96,...,37708,0.95,0,0,0,0,0.0,0.0,0,0.0
526,KPK/FATA,DERA ISMAIL KHAN DIVISION,SOUTH WAZIRISTAN DISTRICT,TOI KHULLA TEHSIL,567.0,50413,27462,22947,4,119.68,...,36508,1.71,0,0,0,0,0.0,0.0,0,0.0
527,KPK/FATA,DERA ISMAIL KHAN DIVISION,SOUTH WAZIRISTAN DISTRICT,WANA TEHSIL,2315.0,153156,81342,71796,18,113.30,...,90772,2.79,0,0,0,0,0.0,0.0,0,0.0

In [17]:
# describe() function provides statistical summary of numerical columns in the dataframe
df.describe()

,AREA (sq.km),ALL SEXES (RURAL),MALE (RURAL),FEMALE (RURAL),TRANSGENDER (RURAL),SEX RATIO (RURAL),AVG HOUSEHOLD SIZE (RURAL),POPULATION 1998 (RURAL),ANNUAL GROWTH RATE (RURAL),ALL SEXES (URBAN),MALE (URBAN),FEMALE (URBAN),TRANSGENDER (URBAN),SEX RATIO (URBAN),AVG HOUSEHOLD SIZE (URBAN),POPULATION 1998 (URBAN),ANNUAL GROWTH RATE (URBAN)
count,528.000000,5.280000e+02,5.280000e+02,5.280000e+02,528.000000,528.000000,528.000000,5.280000e+02,528.000000,5.280000e+02,5.280000e+02,5.280000e+02,528.000000,528.000000,528.000000,5.280000e+02,528.000000
mean,1492.005871,2.462780e+05,1.252757e+05,1.209841e+05,18.174242,98.982614,6.277064,1.674280e+05,3.124792,1.408635e+05,7.284339e+04,6.799787e+04,22.276515,75.411269,4.406402,8.014457e+04,1.920814
std,2039.453778,2.711898e+05,1.375630e+05,1.337169e+05,25.522248,26.812660,2.074947,1.783890e+05,9.577872,3.512463e+05,1.823492e+05,1.688725e+05,66.068127,49.687341,2.948336,2.023120e+05,2.098908
min,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,425.000000,5.093450e+04,2.712725e+04,2.397900e+04,1.000000,101.105000,5.700000,3.527350e+04,1.440000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000
50%,882.000000,1.652410e+05,8.413450e+04,8.204400e+04,10.000000,105.285000,6.310000,1.172065e+05,2.030000,4.325450e+04,2.198000e+04,2.099900e+04,3.000000,103.195000,5.755000,2.129800e+04,1.855000
75%,1734.250000,3.129112e+05,1.605022e+05,1.522190e+05,25.000000,108.347500,7.200000,2.130542e+05,2.812500,1.178148e+05,6.030175e+04,5.746525e+04,19.000000,107.040000,6.340000,6.542225e+04,2.985000
max,18374.000000,2.297375e+06,1.172995e+06,1.124167e+06,213.000000,139.380000,12.430000,1.044035e+06,100.000000,3.653616e+06,1.905921e+06,1.746900e+06,795.000000,297.810000,10.060000,2.075867e+06,19.780000

In [24]:
# index of the dataframe which shows the row labels 
# by default it is a range index starting from 0 to number of rows - 1
df.index

RangeIndex(start=0, stop=528, step=1)

In [64]:
# shape of the dataframe which shows number of rows and columns
df.shape

(528, 21)

In [65]:
# print number of rows and columns using f string
print(f'The dataframe has {df.shape[0]} rows and {df.shape[1]} columns.')

The dataframe has 528 rows and 21 columns.

In [68]:
df["SEX RATIO (URBAN)"].value_counts()

SEX RATIO (URBAN)
0.00      155
103.13      3
107.39      2
101.46      2
105.64      2
         ...
112.83      1
102.95      1
100.07      1
107.55      1
100.15      1
Name: count, Length: 340, dtype: int64

In [70]:
# length of dataframe
len(df)

528

In [73]:
# find value count percentage of a specific column of specific division
df["MALE (URBAN)"].value_counts(normalize=True) * 100
# round to 2 decimal places
# usually round function is used as round(value, number_of_decimal_places)
round(df["MALE (URBAN)"].value_counts(normalize=True) * 100, 2)
# assorting the value counts in descending order
df["MALE (URBAN)"].value_counts(ascending=False)

MALE (URBAN)
0          155
30135        2
34885        2
1025010      1
28035        1
          ...
24515        1
201554       1
25837        1
50363        1
71345        1
Name: count, Length: 372, dtype: int64

In [87]:
# count and also use groupby function
df.groupby('DIVISION').size()

DIVISION
BAHAWALPUR DIVISION             15
BANNU DIVISION                  15
Badin Division                   5
D.G.KHAN DIVISION               14
DERA ISMAIL KHAN DIVISION       15
FAISALABAD DIVISION             17
GUJRANWALA DIVISION             20
HAZARA DIVISION                 15
Hyderabad Division              30
KOHAT DIVISION                  14
Kalat Division                  18
Karachi Division                30
LAHORE DIVISION                 17
Larkana Division                21
MALAKAND DIVISION               33
MARDAN DIVISION                  7
MULTAN DIVISION                 14
Makran Division                 37
Mirpurkhas Division             18
Naseerabad Division             19
PESHAWAR DIVISION               18
Quetta Division                 38
RAWALPINDI DIVISION             22
SAHIWAL DIVISION                 7
SARGODHA DIVISION               17
Shaheed Benazirabad Division    15
Sukkur Division                 18
Zhob Division                   19
dtype: int64

In [76]:
# count number of divisions
df['DIVISION'].nunique()

28

# Creation of Data

In [20]:
# object creation
s = pd.Series([1, 3, 5, np.nan, 6, 8])
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [30]:
dates = pd.date_range('20260101', periods=3)
print(dates)

DatetimeIndex(['2026-01-01', '2026-01-02', '2026-01-03'], dtype='datetime64[ns]', freq='D')

In [31]:
# create a dataframe with random values and specified index and columns 
# here we are creating a dataframe with 3 rows and 4 columns
# index is set to dates and columns are set to 'A', 'B', 'C', 'D'
# np.random.randn() function generates random values from a normal distribution
df_1 = pd.DataFrame(np.random.randn(3, 4), index=dates, columns=list('ABCD'))
print(df_1)

                   A         B         C         D
2026-01-01  2.871812 -1.616794 -1.479810 -0.008342
2026-01-02  0.323530 -1.347596  1.466207 -1.068961
2026-01-03 -0.402019 -1.140459  0.125561  0.625992

In [32]:
# convert df_1 to numpy array
df_1.to_numpy()

array([[ 2.87181216, -1.61679426, -1.47981043, -0.00834211],
       [ 0.32352975, -1.34759621,  1.46620738, -1.06896129],
       [-0.40201929, -1.14045851,  0.12556061,  0.62599228]])

In [33]:
# you can transpose the dataframe using .T attribute
# convert rows to columns and columns to rows
df_1.T

   2026-01-01  2026-01-02  2026-01-03
A    2.871812    0.323530   -0.402019
B   -1.616794   -1.347596   -1.140459
C   -1.479810    1.466207    0.125561
D   -0.008342   -1.068961    0.625992

In [37]:
# you can also assort the dataframe by sorting it by index or by values
# axis=0 means sorting by index (rows) and axis=1 means sorting by columns
# ascending=True means sorting in ascending order and ascending=False means sorting in descending order
df_1.sort_index(axis=0, ascending=False)

                   A         B         C         D
2026-01-03 -0.402019 -1.140459  0.125561  0.625992
2026-01-02  0.323530 -1.347596  1.466207 -1.068961
2026-01-01  2.871812 -1.616794 -1.479810 -0.008342

In [40]:
# assort data by values in column 'B'
df_1.sort_values(by='B', ascending=False)

                   A         B         C         D
2026-01-03 -0.402019 -1.140459  0.125561  0.625992
2026-01-02  0.323530 -1.347596  1.466207 -1.068961
2026-01-01  2.871812 -1.616794 -1.479810 -0.008342

In [41]:
# selecting a single column from the dataframe
df_1['A']

2026-01-01    2.871812
2026-01-02    0.323530
2026-01-03   -0.402019
Freq: D, Name: A, dtype: float64

In [43]:
# selecting a three column from the dataframe
df_1[['A', 'C', 'D']]

                   A         C         D
2026-01-01  2.871812 -1.479810 -0.008342
2026-01-02  0.323530  1.466207 -1.068961
2026-01-03 -0.402019  0.125561  0.625992

In [45]:
# Sekecting rows data 
df_1[0:2]

                   A         B         C         D
2026-01-01  2.871812 -1.616794 -1.479810 -0.008342
2026-01-02  0.323530 -1.347596  1.466207 -1.068961

In [46]:
# selecting a row by label using .loc[] method
# here we are selecting row with index as dates[0]
df_1.loc[dates[0]]

A    2.871812
B   -1.616794
C   -1.479810
D   -0.008342
Name: 2026-01-01 00:00:00, dtype: float64

In [47]:
# selecting a specific rows amd columns from the dataframe
df_1.loc[:, ['A', 'B']]

                   A         B
2026-01-01  2.871812 -1.616794
2026-01-02  0.323530 -1.347596
2026-01-03 -0.402019 -1.140459

In [48]:
# selecting a specific value from the dataframe
# here we are selecting value from row with index as dates[0] and column 'A'
df_1.at[dates[0], 'A']

np.float64(2.8718121581663953)

In [49]:
# .iloc[] is used for selecting rows and columns by integer position
# here we are selecting first row and first two columns
df_1.iloc[0, 0:2]

A    2.871812
B   -1.616794
Name: 2026-01-01 00:00:00, dtype: float64

In [51]:
# boolean indexing
# selecting all rows where value in column 'A' is greater than 0
df_1[df_1['A'] > 0]

                   A         B         C         D
2026-01-01  2.871812 -1.616794 -1.479810 -0.008342
2026-01-02  0.323530 -1.347596  1.466207 -1.068961

In [57]:
# addition of a new column in df_1 dataset 
# creating a copy of df_1 and adding a new column 'E' 
df_2 = df_1.copy()
df_2['E'] = ['one', 'two', 'three']
df_2

                   A         B         C         D      E
2026-01-01  2.871812 -1.616794 -1.479810 -0.008342    one
2026-01-02  0.323530 -1.347596  1.466207 -1.068961    two
2026-01-03 -0.402019 -1.140459  0.125561  0.625992  three

In [63]:
# add new column 'F' with values as addition of columns 'A' and 'B' and 'C' 
df_2['F'] = df_2['A'] + df_2['B'] + df_2['C']       
df_2

                   A         B         C         D      E         F
2026-01-01  2.871812 -1.616794 -1.479810 -0.008342    one -0.224793
2026-01-02  0.323530 -1.347596  1.466207 -1.068961    two  0.442141
2026-01-03 -0.402019 -1.140459  0.125561  0.625992  three -1.416917