# Four Dimensions for EDA
1. Composition
2. Distribution
3. Comparison
4. Relationship

### Composition
- What are the different categories or groups in the data?
- How many unique values are there for categorical variables?
- What is the proportion of each category in the dataset?

In [3]:
# Import Library
import pandas as pd

In [4]:
# load the data
df = pd.read_csv("titanic.csv") 
df.head() # this shows glimpse of data

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [5]:
df.shape
# print number of rows and columns using f string
print(f"The dataset contains {df.shape[0]} rows and {df.shape[1]} columns.")

The dataset contains 891 rows and 15 columns.

In [6]:
df.info() # this shows data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB

In [7]:
df.dtypes # this shows data types of each column

survived         int64
pclass           int64
sex             object
age            float64
sibsp            int64
parch            int64
fare           float64
embarked        object
class           object
who             object
adult_male        bool
deck            object
embark_town     object
alive           object
alone             bool
dtype: object

In [8]:
df["sex"].value_counts()  # this shows count of unique values in

sex
male      577
female    314
Name: count, dtype: int64

In [13]:
# find value count percentage for sex column
df["sex"].value_counts() / len(df) * 100 # type: ignore
# round to 2 decimal places with formula round(numbers, decimal places)
(df["sex"].value_counts() / len(df) * 100).round(2)

sex
male      64.76
female    35.24
Name: count, dtype: float64

In [15]:
(df["class"].value_counts() / len(df) * 100).round(2) # for class column 
# sort values in asscending order
(df["class"].value_counts() / len(df) * 100).round(2).sort_values()

class
Second    20.65
First     24.24
Third     55.11
Name: count, dtype: float64

In [17]:
# find the value counts in percentage for class where sex==female
df_females = df[df["sex"]=="female"]
df_females["class"].value_counts() / len(df_females) * 100

class
Third     45.859873
First     29.936306
Second    24.203822
Name: count, dtype: float64

In [ ]:
# group by sex and class to get value counts in percentage
df.groupby("sex")["class"].value_counts(normalize=True) * 100
# round 2 decimal

sex     class
female  Third     45.859873
        First     29.936306
        Second    24.203822
male    Third     60.138648
        First     21.143847
        Second    18.717504
Name: proportion, dtype: float64